// Основные используемые цвета.
$bground-color: #fff;
$second-bground-color: #F8F8F8;
$bold-txt-color: #212121;
$txt-color: #646464;
$rectangle-color: #B0855B;
$button-color: #37806B;
$img-bgraund: #C4C4C4;