<section class="section section__news">
    <div class="container">
        <h2 class="section__title">LETEST NEWS</h2>
        <p class="section__subtitle">From Our Blog</p>
        <ul class="news">
            <li class="news__item">
                <div class="news__background"></div>
                <div class="news__image">
                    <img src="../images/comod.jpg" alt="">
                </div>
                <p class="news__title">2020 Interior Design Trends</p>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                    incididunt ut labore et dolore magna aliqua.</p>
                <button class="button button__news" type="submit">CONTINUE READING....</button>
            </li>
            <li class="news__item">
                <div class="news__background"></div>
                <div class="news__image">
                    <img src="../images/living-room.jpg" alt="">
                </div>
                <p class="news__title">28 Notable Product at ARC Interior Design</p>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                    incididunt ut labore et dolore magna aliqua.</p>
                <button class="button button__news" type="submit">CONTINUE READING....</button>
            </li>
        </ul>

    </div>
</section>