<section class="section">
    <div class="container">
        <div class="section-subtitle">WHAT WE DO</div>
        <h2 class="section-title our-service__title">Our Service</h2>
        <ul class="our-service__icon-list">
            <li class="our-service__icon-item">
                <svg class="our-service__icon-arrow" width="8px" height="16px">
                    <use href="../images/symbol-defs.svg#icon-arrow-left"></use>
                </svg>
            </li>
            <li class="our-service__icon-item our-service__icon-item--accent">
                <svg class="our-service__icon-arrow" width="8px" height="16px">
                    <use href="../images/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
            </li>
        </ul>
        <ul class="our-service">
            <li class="our-service__item">
                <ul class="our-service__item-list">
                    <li class="our-service__item-img">
                        <img src="../images/our-service/design.png" alt="room">
                    </li>
                    <li class="our-service__item-text">
                        <h3 class="our-service__item-title">Interior Design</h3>
                        <p>Lorem ipsum dolor amet consectetur
                        adipiscing elit sed eiusmod tempor
                        incididunt ut labore.</p>
                        </li>
                </ul>
            </li>
            <li class="our-service__item our-service__item--accent">
                <ul class="our-service__item-list">
                    <li class="our-service__item-img">
                        <img src="../images/our-service/arhitecture.png" alt="room">
                    </li>
                    <li class="our-service__item-text">
                        <h3 class="our-service__item-title">Architecture</h3>
                        <p>Lorem ipsum dolor amet consectetur
                            adipiscing elit sed eiusmod tempor
                            incididunt ut labore.</p>
                    </li>
                </ul>
            </li>
            <li class="our-service__item">
                <ul class="our-service__item-list">
                    <li class="our-service__item-img">
                        <img src="../images/our-service/planning.png" alt="room">
                    </li>
                    <li class="our-service__item-text">
                        <h3 class="our-service__item-title">Planning</h3>
                        <p>Lorem ipsum dolor amet consectetur
                            adipiscing elit sed eiusmod tempor
                            incididunt ut labore.</p>
                    </li>
                </ul>
            </li>
        </ul>


        
        
    </div>
</section>