.section-news {
  background-color: $second-bground-color;
}
.section-title {
  line-height: 0.58;
  text-align: center;
}
.section-subtitle {
  line-height: 1.4;
  text-align: center;
}

.news {
  display: flex;
  align-items: baseline;
  justify-content: center;
  .news__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 136px;
    }
  }
  .news__background {
    width: 554px;
    height: 386px;
    background-color: $second-bground-color;
    border: 2px solid $rectangle-color;
    border-radius: 100px 0;
    margin-bottom: 42px;
  }
  .news__image {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-17px, -15.5px);
    overflow: hidden;
    border-radius: 100px 0 100px 0;
  }
  .news__title {
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 30px;
    line-height: 0.9;
    color: $bold-txt-color;
  }
  .news__text {
    margin-bottom: 45px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $txt-color;
  }
}
.button__news {
  padding: 13px 34px;
  border: none;
  border-radius: 25px 0;
}
